* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#chat-container {
    background-color: rgb(175, 175, 232);
    height: 80vh;
    padding-top: 10px;
    overflow: scroll;
}

.online-status{
    color: green;
}

.offline-status{
    color: red;
}

.dashboard {
    width: 80vw;
    margin: 10px auto !important; 
}

.curr-user-chat{
    border: 1px solid black;
    background-color: aqua;
    border-radius: 5px;
    text-align: right;
    padding-right: 20px;
}

.dist-user-chat{
    text-align: left;
    padding-left: 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.addMemberTable {
    overflow-y: scroll;
    height: 200px;
}