* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #fafafa;
}

.navbar {
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(253, 253, 253);
    width: 100%;
    border: 1px solid rgb(148, 131, 131);
    height: 10vh;
}

.navbar .container {
    /* background-color: #555; */
    padding: 15px 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
}
.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 12px 50px;
    }
  }

.container .logo {
    display: flex;
    /* cursor: pointer; */
    justify-content: space-between;
    width: 70%;
}

.nav-links {
    font-weight: lighter;
    color: rgb(172, 172, 172);
    

}
.action .profile {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    position: relative;
    margin-top: 60px;
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background: #ddd; */
}

.col-9 {
    width: 65%;
    margin-top: 20px;
}

h1 {
    padding: 12px 0px 18px 0px ;
    display: inline-block;
    color: black;
    margin: 9px;
    width: 48vw;
}

.col-3 {
    width: 33%;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.col-3 h4 {
    color: rgb(100, 100, 100);
}

.col-3 .card {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
    padding: 110px;
}

.col-3 .card .top {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-3 .card .top a {
    color: #1d92ff;
}

.col-3 .card .bottom {
    padding: 10px 20px;
}

.col-3 .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
}

.col-3 .card .top .userDetails h3 {
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.col-3 .card .top .userDetails h3 span {
    font-size: 0.75em;
}

.col-3 .card .top .userDetails h3 span {
    font-size: 0.75em;
}

.col-9 .card {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    /* min-height: 400px; */
    display: inline-block;
    border: 1px solid rgba(7, 7, 7, 0.24);
}

.col-9 .card .top {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-9 .card .bottom {
    padding: 10px 20px;
}

button {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.clicked{
    background-color: #cfd1cf;
}


.col-9 .card .top .userDetails {
    width: 100%;
    display: flex;
    align-items: center;
}

.profilepic {
    display: inline-block;
    cursor: pointer;
}

.profilepic .profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, red, orange);
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
}

.profilepic .profile_img .image {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

.profilepic .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
    /* width: 100%; */
    font-size: 22px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
}

.col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
}

.col-9 .card .top .userDetails h3 span {
    font-size: 0.75em;
}

.dot {
    transform: scale(0.6);
    cursor: pointer;
}

.imgBx {
    position: relative;
    width: 100%;
    min-height: 600px;
    margin: 10px 0 15px;
}

.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionBtns svg {
    cursor: pointer;
}

.actionBtns .left svg {
    margin-right: 8px;
}

.likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    color: #4d4d4f;
}

.message {
    /* font-weight: 100; */
    /* margin-top: 5px; */
    font-size: 20px;
    color: #777;
    line-height: 1.5em;
}

.message b {
    color: #262626;
}

.message span {
    cursor: pointer;
    color: #1d92ff;
}

.comments {
    margin-top: 10px;
    font-weight: 400;
    color: #999;
}

.addComments {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.addComments a {
    color: #1d92ffcb;
    font-weight: 500;
}

.addComments .reaction {
    position: relative;
    font-size: 1.3rem;
    margin-right: 10px;
    color: rgb(88, 88, 88);
}

input.text {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
}

input.text::placeholder {
    color: #777;
}

.postTime {
    margin-top: 8px;
    font-weight: lighter;
    color: rgb(163, 163, 163);
    font-size: 12px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .col-9 {
        width: 100%;
        background: #fafafa;
    }


}

@media screen and (max-width: 450px) {
    .container {
        width: 100% !important;
    }

    .navbar .container {
        padding: 15px 10px !important;
    }

    .col-9 {
        margin-top: 4px;
        min-width: 100%;
    }

    .statuses {
        margin-bottom: 0px;
    }

    .col-9 .card {
        width: 100% !important;
        margin-bottom: 0px;
        width: 100%;
        border: none;
    }

    .imgBx {
        position: relative;
        width: 100%;
        min-height: 400px;
        margin: 10px 0 15px;
    }


}

.footer .footer-section {
    margin-left: 0.5rem;
    color: #999999;
    font-size: 14px;
    font-family: sans-serif;
}

.footer a:hover {
    color: #ff0000;
}