
.navbar {
    position: fixed;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(253, 253, 253);
    width: 100%;
    border: 1px solid rgb(148, 131, 131);
    height: 10vh;
}

.navbar .container {
    /* background-color: #555; */
    padding: 15px 0;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
}.container .logo {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 70%;
}
@media screen and (max-width: 600px) {
    .container {
        width: 100% !important;
    }

    .navbar .container {
        padding: 15px 10px !important;
    }
  }