<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invito-connecting peoples</title>
    <link rel="icon" href="https://res.cloudinary.com/dfq5rnahw/image/upload/v1706893513/invito/paper-plane_bqmvgx.png"  type="image/x-icon">
    <script src="https://kit.fontawesome.com/8f7f537382.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        body {

            font-family: 'Open Sans', sans-serif;
            display: flex;
            justify-content: center;

        }

        h1 {
            font-size: 20px;
            text-align: center;

            small {
                display: block;
                font-size: 15px;
                padding-top: 8px;
                color: gray;
            }
        }




        .profile-info {


            label {
                display: block;

                font-weight: bold;
            }


        }

        @import url('https://rsms.me/inter/inter.css');

        :root {
            --color-light: white;
            --color-dark: #212121;
            --color-signal: #fab700;

            --color-background: var(--color-light);
            --color-text: var(--color-dark);
            --color-accent: var(--color-signal);

            --size-bezel: .5rem;
            --size-radius: 4px;



            font-family: 'Inter', sans-serif;
            font-size: calc(.6rem + .4vw);
            color: var(--color-text);
            background: var(--color-background);
            font-weight: 300;
            padding: 0 calc(var(--size-bezel) * 3);
        }

        h1,
        h2,
        h3 {
            font-weight: 900;
        }

        .card input {
            width: 100%;

            margin: 10px;
            box-sizing: border-box;
        }

        .card {
            background: var(--color-background);
            padding: calc(4 * var(--size-bezel));

            border-radius: var(--size-radius);
            border: 3px solid var(--color-shadow, currentColor);
            box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);



            *:first-child {
                margin-top: 0;
            }
        }


        .l-design-widht {
            max-width: 40rem;
            padding: 1rem;
        }

        .input {
            position: relative;

            &__label {
                position: absolute;
                left: 0;
                top: 0;
                padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);

                background: pink;
                white-space: nowrap;
                transform: translate(0, 0);
                transform-origin: 0 0;
                background: var(--color-background);
                transition: transform 120ms ease-in;
                font-weight: bold;

            }

            &__field {
                box-sizing: border-box;
                display: block;
                width: 100%;
                border: 3px solid currentColor;
                padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
                color: currentColor;
                background: transparent;
                border-radius: var(--size-radius);

                &:focus,
                &:not(:placeholder-shown) {
                    &+.input__label {
                        transform: translate(.25rem, -65%) scale(.8);
                        color: var(--color-accent);
                    }
                }
            }
        }




        button {
            pointer-events: stroke;
            cursor: pointer;
            color: currentColor;
            padding: var(--size-bezel) calc(var(--size-bezel) * 2);
            background: var(--color-accent);
            border: none;
            border-radius: var(--size-radius);
            font-weight: 900;

            &[type=reset] {
                background: var(--color-background);
                font-weight: 200;
            }
        }


        .icon {
            display: inline-block;
            width: 1em;

        }

        .hidden {
            display: none;
        }

        @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

        html {
            background-color: rgb(254, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
            font-family: "Lato", sans-serif;
        }

        section {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            width: 40vw;
            height: 40vh;



        }

        .image {
            height: 30vh;
            width: 30vw;
            display: flex;
            justify-content: center;
            align-items: center;



        }

        .title {
            font-size: 20px;
            font-weight: bold;
        }

        p {
            color: #a3a3a3;
            font-size: 14px;
            width: 200px;

        }

        #inputs input {
            width: 32px;
            height: 32px;
            text-align: center;
            border: none;
            border: 2px solid;


        }

        input:focus {
            border: 1.5px solid deepskyblue;
            outline: none;
        }
    </style>
</head>

<body>

    <div class="profile-info">

        <div class="card">
            <h2>Enter registered email:</h2>
            <label  class="input">
                <input id="email" type="email" placeholder=" Enter registered email" name="email"/>
            </label>
            <section class="hidden">

                <div class="title">Enter OTP</div>
                <p>We have sent a verification code to your given email id</p>
                <div id='inputs'>
                    <input id='input1' class="otp" type='text' maxLength="1" name="otp"/>
                    <input id='input2' class="otp" type='text' maxLength="1" name="otp"/>
                    <input id='input3' class="otp" type='text' maxLength="1" name="otp"/>
                    <input id='input4' class="otp" type='text' maxLength="1" name="otp"/>
                </div>
                <button class="resend" onclick="resendOtp()">Resend OTP</button>

            </section>
            <div class="button-group">
                <center><button onclick="handleButtonClick()">Request OTP</button></center>
            </div>
        </div>

    </div>

    <script>
        const inputs = ["input1", "input2", "input3", "input4"];

        inputs.map((id) => {
            const input = document.getElementById(id);
            addListener(input);
        });
        
        function addListener(input) {
            input.addEventListener("keyup", () => {
                const code = parseInt(input.value);
                if (code >= 0 && code <= 9) {
                    const n = input.nextElementSibling;
                    if (n) n.focus();
                } else {
                    input.value = "";
                }
            
                const key = event.key;
                if (key === "Backspace" ) {
                    const prev = input.previousElementSibling;
                    if (prev) prev.focus();
                }
            });
        }
        
        // Function to handle the button click
        function handleButtonClick(event) {
            const section = document.querySelector('.hidden');
            const buttonText = document.querySelector('.button-group button');
            const emailInput = document.getElementById('email');

            if (emailInput.value.trim() !== "" && isValidEmail(emailInput.value.trim())) {
                section.classList.remove('hidden');
                buttonText.textContent = 'Verify OTP';
                buttonText.addEventListener('click', handleChangeSubmit);  // after submit send otp and email to the backend
                buttonText.removeAttribute('onclick');
                // if user enter a valid email then send an otp through email
                
                // send request to the server to show interest
                // Make an AJAX request to the server
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/users/forget-password/sendOtp', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                // Set up the data to send to the server
                const data = `email=${emailInput.value.trim()}`;

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            // if (response.success) {
                            //     alert(response.message);
                            // } else {
                            //     alert(response.message);
                            // }
                        } else {
                            alert('Error occurred while making the request');
                        }
                    }
                };

                // Send the request with the data
                xhr.send(data);

            }else{
                alert("enter a valid email")
            }     
            // Add an event listener to the button for further functionality if needed
        }
        
        function isValidEmail(email) {
            // You can implement your own email validation logic here
            // For a simple example, we're checking for the presence of '@'
            return email.includes('@');
        }


        // set validation on email and otp field
        // Function to handle the 'Change Submit' button click
        function handleChangeSubmit() {
            // You can add additional functionality here if needed
            const emailInput = document.getElementById('email');

            // Get OTP values from input fields
            const otp1 = document.getElementById('input1').value;
            const otp2 = document.getElementById('input2').value;
            const otp3 = document.getElementById('input3').value;
            const otp4 = document.getElementById('input4').value;
                
            // Combine OTP values into a single string
            const otp = otp1 + otp2 + otp3 + otp4;
            if (emailInput.value.trim() !== "" && isValidEmail(emailInput.value.trim())) {
                const xhr = new XMLHttpRequest();

                xhr.open('POST', '/users/forget-password', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                // Set up the data to send to the server
                const data = `email=${emailInput.value.trim()}&otp=${otp}`;
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                // Redirect to another page after a successful response
                                window.location.href = '/users/reset-password';
                            } else {
                                window.location.href = '/users/forget-password';
                            }
                        } else {
                            alert('Error occurred while making the request');
                        }
                    }
                };
                // Send the request with the data
                xhr.send(data);
            } else {
                alert("enter a valid email")
            }           

        }

        function resendOtp() {
            const emailInput = document.getElementById('email');

            if (emailInput.value.trim() !== "" && isValidEmail(emailInput.value.trim())) {
                // send request to the server to show interest
                // Make an AJAX request to the server
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/users/forget-password/sendOtp', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                // Set up the data to send to the server
                const data = `email=${emailInput.value.trim()}`;

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            // if (response.success) {
                            //     alert(response.message);
                            // } else {
                            //     alert(response.message);
                            // }
                        } else {
                            alert('Error occurred while making the request');
                        }
                    }
                };

                // Send the request with the data
                xhr.send(data);

            }else{
                alert("enter a valid email");
            }    
        }

    </script>
</body>


</html>