<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invito-connecting peoples</title>
    <link rel="icon" href="https://res.cloudinary.com/dfq5rnahw/image/upload/v1706893513/invito/paper-plane_bqmvgx.png"  type="image/x-icon">
</head>
<body>
    <form action="/users/reset-password" method="post">
        <label for="password" class="form-label">Enter new password</label>
        <input type="password" name="password" class="form-control" id="password">
        <button>submit</button>
    </form>
</body>
</html>